<html>
  <head>
  <meta charset="UTF-8">
  <title>Mixed Phonetic Transcription of English Text</title>
  <link rel="stylesheet" type="text/css" href="transcription.css">
  <link href="https://fonts.googleapis.com/css?family=Assistant:300&subset=all" rel="stylesheet">
  </head>
  <body>
<%= body_section %>
  </body>
</html>
